body {
  background-color: #1e5b4f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0;
  margin: 0;
}

h2, h3 {
  color: #fff;
  text-align: center;
}

button {
  background-color: #d11414;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover {
  background-color: #91ff5e;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 0.9rem;
  background-color: #1e5b4f;
  border-radius: 8px;
  overflow: hidden;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #a57f2c;
  color: #161a1d;
}

table td {
  background-color: #98989A;
  border-bottom: 1px solid #5f2a40;
  color: #161a1d;
}

tr:nth-child(even) td {
  background-color: #e6d194;
}

canvas {
  background-color: #1e5b4f;
  border-radius: 10px;
  padding: 10px;
}

select {
  background-color: #98989A;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
}

label {
  display: block;
  margin: 1rem 0 0.5rem;
  font-weight: 500;
}

td button {
  background-color: #4d21a8;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.edit-panel {
  margin-top: 2rem;
  background-color: #2b1b52;
  border: 1px solid #4d357d;
  padding: 1rem;
  border-radius: 8px;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 1rem;
}

.header-buttons button:nth-child(1) {
  background-color: #1ba026;
}

.header-buttons button:nth-child(2) {
  background-color: #dc3545;
}

.hidden-pdf {
  position: absolute;
  left: -9999px;
  top: 0;
  background-color: #e6d194;
  padding: 20px;
  color: #212529;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  width: 700px;
}
